html {
  background-color: rgb(218, 167, 167);
}
h1 {
text-align: center
}
h1 {
  color: rgb(120, 35, 190);
  border: 4px double black
}
p {
  font-variant: small-caps;
}
p {  
  font-style: italic;
}
p {
  font-weight: bold;
}